<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>
<body>
  <nav class="bg-white w-full">
    <div class="mx-auto w-full px-10">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <a href="{{path('registration')}}" type="button" class=" flex items-center bg-amber-400 mr-4 rounded-lg text-sm px-4 py-2">
            <span>S'inscrire</span>
          </a>
          <a href="{{path('app_login')}}" type="button" class="flex items-center border-2 border-gray-400 bg-white text-gray-600 rounded-lg text-sm px-4 py-2">
            <span>Connexion</span>

          </a>

       
        </div>
      </div>
    </div>
  </nav>
  <section class="px-10 flex-col items-center content-center h-2/3">
    <div
      class="flex-col relative items-center bg-gradient-to-r from-sky-300 to-emerald-100 p-10 rounded-3xl h-96 w-full">
      <div class="flex items-center">
        <h1 class="text-sky-950 text-start text-7xl font-bold">Nous travaillons pour votre santé à chaque visite.</h1>
        <img class="w-80" src="images/bg-image.png" alt="">
      </div>
      <div
        class="absolute inset-x-auto -bottom-10 bg-white w-fit h-11 p-12 drop-shadow-lg flex items-center rounded-2xl m-auto">
        <form>
          <div class="flex content-between w-full">
            <div>
              <input type="datetime-local" id="date"
                class="bg-gray-50 border mr-4 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
                required>
            </div>

            <a href="{{path('registration')}}" type="submit"
              class="text-sky-950 bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center">
              Reservez</a>
          </div>
        </form>
      </div>
    </div>

  </section>
  <footer class="flex justify-between items-center h-48 px-11">
    <div class="flex mr-9 items-center ">
      <img class="me-4" src="images/Add-User.svg" alt="Add-User">
      <p class="text-3xl font-semibold text-sky-950 font-medium">S'inscrire</p>
  </div>
    <div class="flex mr-9 items-center ">
        <img class="me-4" src="images/Calendar.svg" alt="Calendar">
        <p class="text-3xl font-semibold text-dark100">Choisir votre rendez-vous</p>
    </div>
    <div class="flex items-center ">
        <img class="me-4" src="images/Heart.svg" alt="Heart">
        <p class="text-3xl font-semibold text-dark100">Consultez votre docteur</p>
    </div>
</footer>
</body>
</html>